<footer class="digify-footer">
  <div class="digify-footer__inner container">
    <div class="digify-footer__brand">
      <img
        src="{{#if settings.header_logo_image}}{{settings.header_logo_image}}{{else}}{{#if settings.fallback_logo_image}}{{settings.fallback_logo_image}}{{else}}{{asset 'settings/digify-cx-logo.png'}}{{/if}}{{/if}}"
        alt="Digify CX"
        class="digify-footer__logo"
        data-digify-check="footer-logo"
      >
      <p>One Group. One Stack. Every CX Touch Point.</p>
    </div>

    <div class="digify-footer__building">
      <img
        src="{{#if settings.footer_building_image}}{{settings.footer_building_image}}{{else}}{{asset 'settings/footer_building_image.jpg'}}{{/if}}"
        alt="Digify CX building"
        class="digify-footer__building-img"
        data-digify-check="footer-building"
      >
    </div>
  </div>
</footer>
