<a class="skip-navigation visually-hidden-focusable" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="digify-header dbpo-header">
  <div class="container header-inner dbpo-nav">
    {{!-- Brand / logo --}}
    <a class="brand-logo dbpo-brand" href="{{help_center.url}}">
      {{#if settings.logo}}
        <img class="dbpo-logo" src="{{settings.logo}}" srcset="{{settings.logo}} 1x, {{settings.logo}} 2x" alt="Digify BPO logo" />
      {{else}}
        <img class="dbpo-logo" src="{{asset 'settings/Logo.png'}}" srcset="{{asset 'settings/Logo.png'}} 1x, {{asset 'settings/Logo.png'}} 2x" alt="Digify BPO logo" />
      {{/if}}
      <span class="brand-text dbpo-brand-text">Digify BPO</span>
    </a>
<nav class="nav top-nav">
  <ul class="menu dbpo-menu">
    <li>{{#link "help_center" class="dbpo-nav-link nav-link"}}Home{{/link}}</li>
    <li>
      <a class="dbpo-nav-link nav-link" href="{{settings.policies_root_url}}">
        Policies
      </a>
    </li>
    <li>
      <a class="dbpo-nav-link nav-link" href="{{page_path 'new_request'}}?ticket_form_id={{#if settings.external_support_form_id}}{{settings.external_support_form_id}}{{else}}23381214703004{{/if}}">
        Request Support
      </a>
    </li>
    {{#unless signed_in}}
      <li>
        <a class="dbpo-nav-link nav-link" href="/hc/en-us/signin?return_to=/agent/home/tickets">
          Agent sign in
        </a>
      </li>
    {{/unless}}
    {{#if signed_in}}
      {{#is user.role "agent"}}
        <li>
          <a class="dbpo-nav-link nav-link" href="/agent/home/tickets">
            Agent Console
          </a>
        </li>
      {{/is}}
    {{/if}}
  </ul>
</nav>
  </div>
</header>

