<a class="skip-navigation visually-hidden-focusable" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="digify-header">
  <div class="container header-inner">
    <a class="brand" href="{{help_center.url}}">Digify BPO</a>
    <nav class="nav-main">
      <a class="nav-link" href="{{page_path 'new_request'}}">Requests</a>
      <a class="nav-link" href="/hc/{{help_center.locale}}/categories">Policies (Preview)</a>
      <a class="cta" href="{{page_path 'new_request'}}">Submit a request</a>
    </nav>
  </div>
</header>
