<header class="digify-header">
  <div class="digify-header__inner container">
    <a class="digify-header__brand" href="{{page_path 'help_center'}}">
      <img
        src="{{settings.digify_cx_logo}}"
        alt="Digify CX"
        class="digify-header__logo"
        data-digify-check="header-logo"
      >
      <span class="digify-header__brand-text">Digify CX Group</span>
    </a>

    <div class="digify-header__nav">
      {{#if signed_in}}
        <span class="digify-header__user">{{user_name}}</span>
        <nav class="user-nav" id="user-nav">
          <div class="dropdown">
            <button class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
              Quick Links
            </button>
            <ul class="dropdown-menu" role="menu">
              <li class="nav-internal" role="menuitem">
                <a href="{{page_path 'new_request'}}?ticket_form_id={{#if settings.internal_request_form_id}}{{settings.internal_request_form_id}}{{else}}54818657692444{{/if}}">Request Support</a>
              </li>
              <li class="nav-internal" role="menuitem">
                <a href="{{#if settings.category_shared_policies_id}}{{link 'category' id=settings.category_shared_policies_id}}{{else}}/hc/{{help_center.locale}}/categories/23700129077660{{/if}}">Shared Policies</a>
              </li>
              <li class="nav-internal" role="menuitem">
                <a href="{{#if settings.category_internal_policies_id}}{{link 'category' id=settings.category_internal_policies_id}}{{else}}/hc/{{help_center.locale}}/categories/23700078037148{{/if}}">Internal Policies</a>
              </li>

              <li class="nav-tenant" role="menuitem">
                <a href="{{page_path 'new_request'}}?ticket_form_id={{#if settings.tenant_request_form_id}}{{settings.tenant_request_form_id}}{{else}}54818268462356{{/if}}">Request Support</a>
              </li>
              <li class="nav-tenant" role="menuitem">
                <a href="{{#if settings.category_shared_policies_id}}{{link 'category' id=settings.category_shared_policies_id}}{{else}}/hc/{{help_center.locale}}/categories/23700129077660{{/if}}">Shared Policies</a>
              </li>
              <li class="nav-tenant" role="menuitem">
                <a href="{{#if settings.category_tenant_policies_id}}{{link 'category' id=settings.category_tenant_policies_id}}{{else}}/hc/{{help_center.locale}}/categories/23700120243740{{/if}}">Tenant Policies</a>
              </li>
            </ul>
          </div>
        </nav>
        {{#link 'new_request' class='btn btn-secondary'}}{{t 'submit_a_request'}}{{/link}}
        {{#link 'sign_out' class='btn btn-primary'}}{{t 'sign_out'}}{{/link}}
      {{else}}
        <a class="btn btn-primary" href="/hc/{{help_center.locale}}/signin">
          {{t 'sign_in'}}
        </a>
      {{/if}}
    </div>
  </div>
</header>
