<a class="skip-navigation visually-hidden-focusable" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="digify-header">
  <div class="container header-inner">
    <a class="brand" href="{{help_center.url}}">
      <img
        src="{{asset 'settings/digify-cx-logo.png'}}"
        alt="digify CX"
        class="digifycx-logo"
        data-digify-check="header-logo"
      >
    </a>

    <nav class="topnav">
      <a href="{{help_center.url}}">Support &amp; Requests</a>
      <a
        href="{{#if settings.category_shared_policies_id}}{{page_path 'category' id=settings.category_shared_policies_id}}{{else}}{{page_path 'help_center'}}{{/if}}"
      >
        Policies
      </a>
      {{#if help_center.community_enabled}}
        <a href="/hc/{{help_center.locale}}/community/topics">Community</a>
      {{/if}}
    </nav>

    <div class="header-auth">
      {{#if signed_in}}
        <span class="header-auth__name">{{user_name}}</span>
        {{#link 'sign_out' class='btn header-auth__action'}}{{t 'sign_out'}}{{/link}}
      {{else}}
        <a class="btn header-auth__action" href="/hc/{{help_center.locale}}/signin">
          {{t 'sign_in'}}
        </a>
      {{/if}}
    </div>
  </div>
</header>

