<header class="digify-header">
  <div class="digify-header__inner container">
    <a class="digify-header__brand" href="{{page_path 'help_center'}}">
      <img
        src="{{settings.digify_cx_logo}}"
        alt="Digify CX"
        class="digify-header__logo"
        data-digify-check="header-logo"
      >
      <span class="digify-header__brand-text">Digify CX Group</span>
    </a>

    <div class="digify-header__nav">
      {{#if signed_in}}
        <span class="digify-header__user">{{user_name}}</span>
        {{#link 'new_request' class='btn btn-secondary'}}{{t 'submit_a_request'}}{{/link}}
        {{#link 'sign_out' class='btn btn-primary'}}{{t 'sign_out'}}{{/link}}
      {{else}}
        <a class="btn btn-primary" href="/hc/{{help_center.locale}}/signin">
          {{t 'sign_in'}}
        </a>
      {{/if}}
    </div>
  </div>
</header>
