<a class="skip-navigation visually-hidden-focusable" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="digify-header dbpo-header">
  <div class="container header-inner dbpo-nav">
    {{!-- Brand / logo --}}
    <a class="brand-logo dbpo-brand" href="{{help_center.url}}">
      {{#if settings.logo}}
        <img class="dbpo-logo" src="{{settings.logo}}" srcset="{{settings.logo}} 1x, {{settings.logo}} 2x" alt="Digify BPO logo" />
      {{/if}}
      <span class="brand-text dbpo-brand-text">Digify BPO</span>
    </a>
<nav class="nav top-nav">
  <ul class="menu dbpo-menu">
    <li>{{#link 'help_center' class='dbpo-nav-link nav-link'}}Home{{/link}}</li>
    <li><a class="dbpo-nav-link nav-link" href="{{help_center.base_url}}/hc/en-us/sections/23441547733404-Policies">Policies</a></li>
    <li>{{#link 'new_request' class='dbpo-nav-link nav-link' params='ticket_form_id=23381214703004'}}Request Support{{/link}}</li>
  </ul>
</nav>
  </div>
</header>
